/***** chat.php ヘッダー *****/

.chatMenu{
	width: 100%;
	padding: 3.75% 5%;
	background-color: #fff;
}
@media screen and (orientation: landscape){
	.chatMenu{
		padding: 2.5% 12.5%;
	}
}
#headMenu{
	position: relative;
	z-index: 1;
	height: 2.5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 0;
	padding-bottom: 0;
}
#roomName{
	font-weight: bold;
}

#roomMenu{
    height: calc(100% - 3.25em);
    position: absolute;
    top: 2.5em;
    z-index: 1;
    overflow: scroll;
}
#roomMenu.shadow{
	box-shadow: rgba(0, 0, 0, 0.2) 0em 1em 1em -1em;
}
#roomMenu.hide{
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
	border: none;
	pointer-events: none;
}
#roomMenu.hide *{
	opacity: 0;
}

#roomMenuButton{
	position: absolute;
	top: calc(100% - 1.25em);
	z-index: 2;
	width: 90%;
	margin: 0 5%;
	text-align: center;
	color: #666;
}
#roomMenuButton:after{
	content: '';
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	z-index: -1;
    display: inline-block;
    top: -.325em;
    right: calc(50% - .75em);
    box-shadow: rgba(0, 0, 0, 0.2) 0em 1em 1em -1em;
}
#roomMenuButton.hide{
	top: 2em;
}
@media screen and (orientation: landscape){
	#roomMenuButton{
		width: 75%;
		margin: 0 12.5%;
	}
}
#roomList br{
	display: none;
}
#roomList li{
	white-space: nowrap;
	overflow-x: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	cursor: pointer;
	margin-bottom: .75em;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	animation: fadeIn .2s;
}
#roomList li::-webkit-scrollbar {
	display:none;
}

#addRoomForm{
	display: flex;
	position: fixed;
	bottom: 3.75%;
	overflow: hidden;
	padding: .75em 0;
	transition: transform 2s;
	width: calc(100% - (5% * 2));
}

@media screen and (orientation: landscape){
	#addRoomForm{
		width: calc(100% - (12.5% * 2));
		bottom: 7.5%;
	}
}

#addRoomForm .rows {
	flex-grow: 2;
	position: relative;
	padding: .75em;
	overflow: hidden;
}
#addRoomForm .row{
	transform: scaleX(0) translateX(100%);
	opacity: 0;
}
#addRoomForm.active .row{
	transform: scaleX(1) translateX(0%);
	opacity: .95;
}
#addRoomForm .row {
    text-align: center;
}

#addRoomForm input{
	width: 100%;
}
#addRoomButtons{
	position: relative;
	flex-basis: 3em;
	margin-right: .75em;
}
#addRoomButtons .floatButton{
	color: #fff;
	background-color: #555;
	position: absolute;
    top: 3em;
}
@media screen and (orientation: landscape){
	#addRoomButtons .floatButton{
		top: 2.5em;
	}
}
#addRoomButtons .floatButton:after{
	content: attr(data-label);
    position: absolute;
    top: -1.5em;
    left: 0;
    right: 0;
    color: #555;
    font-size: .5em;
    text-align: center;
    white-space: nowrap;
}
#addRoomCancel{
	opacity: 0;
}
#addRoomButtons #addRoomCancel:after{
	left: -.25em;
}
.active .floatButton{

}
.active #addRoom{
	top: 1.5em;
	transform: scale(.9) translate(-55%,-45%); 
}
.active#addRoomCancel{
	top: 3.5em;
	opacity: .95;
	transform: scale(.6) translate(-82.5%,-45%);
}
