/***** 共通スタイル *****/
*{
	transition: .2s;
	opacity: .95;
}
small{
	font-size: .5em;
}
.hide{
	opacity: 0;
}
.center{/*このクラスを使うときは、親要素に position: relative; を指定すること！*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);	
}
.shadow{
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px .5em;
}
.shadow:focus,
.shadow:hover{
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px .75em;
}
.shadow.nonActive{
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1em;
}
.whiteBox{
	border-radius: .25em;
	outline: none;
	padding: .25em .5em;
	background-color: #fff;
	background: linear-gradient(#ffffff,#fdfdfd);
	border: 1px solid #ddd;
}
.whiteBox.button{
	font-size: .8em;
}


/***** login.php *****/
#loginWindow{
	width: 50vw;
	height: 50vh;
    border: solid 2px #ffffff;
	background: linear-gradient(#efefef,#eeeeee);
	border-radius: .75em;
	text-align: center;
	min-height: 200px;
	min-width: 300px;
}
#loginWindow .row{
	display: block;
	margin-bottom: .5em;
}
#loginWindow .formName{
	display: inline-block;
	width: 2em;
	font-size: .5em;
    margin-right: .8em;
}
#pw{
	position: relative;
}
#showPwButton{
	transition: right 0s;
	position: absolute;
	outline: none;
	right: 0;
	height: calc(2em + 2px);
	padding: .25em .5em;
}
#showPwButton.fa-eye{
	right: 1px;
}
#loginFormMessage{
	color: red;
    vertical-align: text-top;
    line-height: 1;
}

/***** chat.php *****/
#chatWindow{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}
#chatLog{
	background-color: #ccc;
	height: 100%;
	overflow-y: scroll;
}
#messageForm{
	width: 100%;
	box-sizing: border-box;
	padding: 15px 15vw;
	max-height: 70%;
}
#messageForm .formName{
	display: inline-block;
	width: 3em;
	font-size: .5em;
    margin-right: .3em;
}

#messageForm .row{
	display: block;
	height: 1.7em;
	margin-bottom: .5em;
}
#messageArea{
	width: calc(100% - 3em);
	vertical-align: bottom;
	max-height: calc(100% - 2.2em - 15px);
}
#nameArea{
	width: calc(50% - 6.8em);/* ｢なまえ｣の幅 3.3em 送信ボタンの幅 3.5em */
	font-size: .8em;
}
#chatLog{
	padding: .5em 0;
}
#chatLog .row{
	box-sizing: border-box;
	padding: .25em;
}
#chatLog .user.row{
	text-align: right;
	padding-right: calc(.25em + 10px);
}
#chatLog .other.row{
	padding-left: calc(.25em + 10px);	
}

.talker{
	display: inline;
	font-size: .75em;
}

.bubble {
	display: inline-block;
	position: relative;
	border: none;
	border-radius: .5em;
	padding: .5em .75em;
	max-width: calc(100% - 10px);
    text-align: left;
}
.bubble:before {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -3px;
	border: 3px solid transparent;
}
.user.bubble:before {
 	left: 100%;
 	border-left: 10px solid #fff;
}
.other.bubble:before {
	right: 100%;
	border-right: 10px solid #fff;
}