/***** 共通スタイル *****/
html,body{
	height: 100%;
	width: 100%;
}
*{
	transition: .2s;
	opacity: .95;
	box-sizing: border-box;
}
small{
	font-size: .5em;
}
.shadow{
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px .5em;
}
.shadow:focus,
.shadow:hover{
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px .75em;
}
.shadow.nonActive{
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1em;
}
.whiteBox{
	border-radius: .25em;
	outline: none;
	padding: .25em .5em;
	background-color: #fff;
	background: linear-gradient(#ffffff,#fdfdfd);
	border: 1px solid #ddd;
}
.whiteBox.button{
	font-size: .8em;
}
button{
	outline: none;
}

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:initial;
    }
}

/***** login.php *****/

.center{/*このクラスを使うときは、親要素に position: relative; を指定すること！*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);	
}

#loginWindow{
	width: 50%;
	height: 50%;
    border: solid 2px #ffffff;
	background: linear-gradient(#efefef,#eeeeee);
	border-radius: .75em;
	text-align: center;
	min-height: 200px;
	min-width: 300px;
}
#loginWindow .row{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: .5em;
}
#loginWindow .formName{
	display: inline-block;
	width: 2em;
	font-size: .5em;
    margin-right: .8em;
}
#pw{
	position: relative;
}
#showPwButton{
	transition: right 0s;
	position: absolute;
	right: 0;
	height: calc(2em + 2px);
	padding: .25em .5em;
}
#showPwButton.fa-eye{
	right: 1px;
}

#loginFormMessage{
	color: red;
    vertical-align: text-top;
    line-height: 1;
}
#loginButton{
	margin-right: 1em;
}

/***** chat.php ヘッダー *****/

.chatMenu{
	width: 100%;
	padding: 5%;
	background-color: #fff;
}
@media screen and (orientation: landscape){
	.chatMenu{
		padding: 2.5vh 12.5%;
	}
}
#headMenu{
	position: relative;
	z-index: 1;
	height: 6%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 0;
	padding-bottom: 0;
}
#roomName{
	font-weight: bold;
}

#roomMenu{
    height: 91.5%;
    position: absolute;
    top: 6%;
    z-index: 1;
    overflow: scroll;
}
#roomMenu.shadow{
	box-shadow: rgba(0, 0, 0, 0.2) 0em 1em 1em -1em;
}
#roomMenu.hide,
#roomMenu.hide *{
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
	border: none;
}
#roomMenu.hide *{
	opacity: 0;
}
#roomMenuButton{
	position: absolute;
	top: 96.25vh;
	z-index: 2;
	width: 90%;
	margin: 0 5%;
	text-align: center;
	color: #666;
}
#roomMenuButton:before{
	position: relative;
	left: .5px;
}
#roomMenuButton:after{
	content: '';
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	z-index: -1;
    display: inline-block;
    top: -.325em;
    right: calc(50% - .75em);
    box-shadow: rgba(0, 0, 0, 0.2) 0em 1em 1em -1em;
}
#roomMenuButton.hide{
	top: 5vh;
}
@media screen and (orientation: landscape){
	#roomMenuButton{
		width: 75%;
		margin: 0 12.5%;
	}
}
#roomList br{
	display: none;
}
#roomList li{
	white-space: nowrap;
	overflow-x: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	cursor: pointer;
	margin-bottom: .75em;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	animation: fadeIn .2s;
}
#roomList li::-webkit-scrollbar {
	display:none;
}

/***** chat.php ボディ *****/

#chatWindow{
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	position: absolute;
	top: 0;
	padding: 6vh 0 20vh;
}
#chatLog{
	height: 100%;
	overflow-y: scroll;
	padding: .5em 0;
}
#messageForm{
	display: flex;
	flex-direction: column;
    position: absolute;
    bottom: 0;
    min-height: 20%;
}
#messageForm .formName{
	display: inline-block;
	width: 3em;
	font-size: .5em;
    margin-right: .3em;
}

#messageForm .row{
	display: flex;
	align-items: center;
}
.row#messageAreaRow{
	flex-grow: 1;
	align-items: flex-end;
	margin-top: .5em;
}
#messageArea{
	margin-right: .5em;
	width: calc(100% - 3.5em);
	max-height: 25em;
}
#nameArea{
	width: calc(100% - 6.95em);
	font-size: .8em;
}
@media screen and (orientation: landscape){
	#nameArea{
		width: calc(50% - 6.95em);
	}
}
#chatLog{
	padding: .5em 0;
	flex-shrink: 1;
}
#chatLog .row{
	box-sizing: border-box;
	padding: .25em;
}
#chatLog .user.row{
	text-align: right;
	padding-right: calc(.25em + 10px);
}
#chatLog .other.row{
	padding-left: calc(.25em + 10px);	
}

.bubble .info{
	position: absolute;
	top: calc( 0 - 1.25em );
	left: 0;
	font-size: .75em;
}
.bubble .info .talkUser{
	text-align: left;	
}
.bubble .info .talkTime{
	text-align: right;	
}

.bubble {
	display: inline-block;
	position: relative;
	border: none;
	border-radius: .5em;
	padding: .5em .75em;
	max-width: calc(100% - 10px);
    text-align: left;
    margin-top: 1.5em;
}
.bubble:before {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -3px;
	border: 3px solid transparent;
}
.user.bubble:before {
 	left: 100%;
 	border-left: 10px solid #fff;
}
.other.bubble:before {
	right: 100%;
	border-right: 10px solid #fff;
}