*{
	transition: .2s;
}

.loginWindow:before{
	background-color: rgba(0,0,0,0.3);
}
.loginWindow{
	background-color: #ccc;
}

input{
	border-radius: 3px;
	outline: none;
	padding: .25em;
	background-color: #fff;
	opacity: .9;
}

.shadow{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1em;
}

input.shadow:focus{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 1em;	
}